html,
body {
    font-size: 20px;
    height: 100%;
    margin: 0;
    padding-top: 25px;
}

h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
    color: white;
}

/* Sidebar */
#list-sidebar {
    background-color: white;
    min-width: 255px;
}

#listed-items {
    padding: 10px 0;

}

.food {
    margin: 8px 5px 5px 10px;
    color: #fff;
    background-color: #0000ff;
    border-color: black;
}

#map {
    height: 100%;
}

#map-list {
    list-style-type: none;
}

#pano {
        height: 200px;
        width: 200px;
    }

span:hover {
    text-align: center 
    color: #AD2324 
    line-height: 0.9;
    cursor: pointer;
    background-color: yellow;
}


