html,
body {
    font-size: 20px;
    height: 100%;
    margin: 0;
    padding-top: 25px;
}

.food {
    margin: 8px 5px 5px 10px;
    color: #fff;
    background-color: #0000ff;
    border-color: black;
}

#map {
    height: 100%;
}

#map-list {
    list-style-type: none;
}

#pano {
    height: 200px;
    width: 200px;
    }

/* Sidebar */
#list-sidebar {
    background-color: white;
    min-width: 255px;
}

#listed-items {
    padding: 10px 0;

}

span:hover {
    text-align: center 
    color: #AD2324 
    line-height: 0.9;
    cursor: pointer;
    background-color: yellow;
    font-size: 115%;
}

/**** Media Query ****/

@media screen and (max-width: 768px) {

    body {
        padding-top: 100px;
    }

    span:hover {
        cursor:pointer;
        background-color:yellow;
    }

    #list-sidebar {
        order: 0;
        width: 100%;
        height: 250px;
        position: relative;
    }

    #listed-items {
        overflow-y: scroll; 
        width: 60%;
        margin-left: 20%;
        height: 400px;
    }

    #map {
        top: 250px;
        padding-bottom: 50px;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
}

